<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>About project</title>
        <link rel="stylesheet" type="text/css" href="../styles/global.css">

    </head>
    <body>
        <header class="header">
            <div class="logo">
                <img src="../assets/images/Movic Tech.jpg">
            </div>
            <nav>
                <ul>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="../component/about.html">About</a></li>
                    <li><a href="../component/blog.html">Blog</a></li>
                    <li><a href="../component/contact.html">Contact</a></li>
                </ul>
            </nav>
        </header>

    </body>


    <footer class="footer-container">
        <ul class="footer">
            <li><a href="../index.html">Home</a></li>
            <li><a href="../component/about.html">About</a></li>
            <li><a href="../component/blog.html">Blog</a></li>
            <li><a href="../component/contact.html">Contact</a></li>
        </ul>
        <p class="content">@copywright, <i><u>MOVIC Tech</u></i></p>
    </footer>
</html>