<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Blog page</title>
        <link rel="stylesheet" type="text/css" href="../styles/global.css">
        <link rel="stylesheet" type="text/css" href="../styles/blog.css">

    </head>
    <body>
        
        <header class="header">
            <div class="logo">
                <img src="../assets/images/Movic Tech.jpg">
            </div>
            <nav>
                <ul>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="../component/about.html">About</a></li>
                    <li><a href="../component/blog.html">Blog</a></li>
                    <li><a href="../component/contact.html">Contact</a></li>
                </ul>
            </nav>
        </header>

        <div class="side-menu">
           <div class="menu-list">
            <a href="#">News</a>
            <a href="#">Politics</a>
            <a href="#">Bussiness</a>
            <a href="#">Sport</a>
            <a href="#">Entertainment</a>
            <a href="#">Health</a>
           </div>
        </div>

        <div class="blog">
            <div class="obasenjo">
                <h2>Why fuel importers will frustrate Dangote – Obasanjo</h2>
                <p>6th August 2024</p>
                <img src="../assets/images/obasanjo.png" width="600px">
                <p class="update"><i>
                    Former President Olusegun Obasanjo has said that those benefiting from the lucrative business of fuel importation are going to make efforts to frustrate the Dangote Petroleum Refinery.
                    <br>
                    <br>
                    Obasanjo stated this in the wake of allegations by the President of the Dangote Group, Alhaji Aliko Dangote, that some ‘mafias’ were making efforts to frustrate the $20bn refinery.
                    <br>
                    <br>
                    This came as it was gathered on Monday that the multi-billion dollar refinery and other domestic refineries had yet to purchase crude oil in naira based on the directive of President Bola Tinubu to the Nigerian National Petroleum Company Limited.
                    <br>
                    <br>
                    In an interview with Financial Times, the former President described the Dangote refinery as something that should encourage both Nigerians and non-Nigerians.
                    <br>
                    <br>
                    “Aliko’s investment in a refinery, if it goes well, should encourage both Nigerians and non-Nigerians to invest in Nigeria.
                    <br>
                    <br>
                    “If those who are selling or supplying refined products for Nigeria feel that they will lose the lucrative opportunity, they will also make every effort to get him frustrated,” Obasanjo stated.
                    <br>
                    <br>
                    Officials of the Dangote Group recently cried out that international oil companies were frustrating the refinery by refusing to sell crude or by selling to them at a premium up to $4 above the normal price.</i></p>
            </div>
            <div class="court">
                <img src="../assets/images/court.1.png">
                <h4>JUST-IN: Court Extends Lagos Protest Restrictions To 2 Venues</h4>
                <p class="Time">3 hours ago</p>
                
                <img src="../assets/images/court2.png">
                <h4>Hunger Protests: CDS Meets Service Chiefs, Heads Of Security Agencies</h4>
                <p class="Time">3 hours ago</p>

                <img src="../assets/images/court3.png">
                <h4>Police Nab Suspected Armed Robber, Recover 2 AK-47 In Kano</h4>
                    <p class="Time">4 hours ago</p>
            </div>
        </div>

        <!--another container-->

        <div class="news-paper">
            <div class="puch">
                <h2 class="news">Nigerian Newspapers Daily Front Pages Review | Tuesday 6th August, 2024</h2>
                <img src="../assets/images/news paper1.jpg" width="600">
                <hr>
                <p>Vanguard: The nationwide protest against hunger in the country turned riotous in Kaduna and Zaria yesterday, compelling the state government to declare a dusk-to-dawn curfew. Aside from Kaduna, the protest also continued in Lagos, Abuja, Jos, Benin, Kano, and Zamfara, despite President Bola Tinubu’s nationwide broadcast on Sunday</p>
            </div>
            <div class="new-class">
                <h4> CBN Governor, Yemi Cardoso
                    BusinessJust In: CBN Approves Merger Of Unity,Providus Banks </h4>
                    <img src="../assets/images/CBD.png">

                    <p>The Central Bank of Nigeria (CBN) has granted the approval for a pivotal financial accommodation to support the proposed merger between Unity Bank Plc and Providus...</p>
                    <!--another h4 container-->
                    <h4 class="nigeria"> Nigeria News#IgboMustGo Proposed Protest Is Absolute Nonsense – Lagos Deputy Gov. Obafemi Hamzat</h4>

                    <img src="../assets/images/approval.png">
                     <p>The Lagos State Deputy Governor, Obafemi Hamzat, has said the State government will not allow faceless people on social media to promote ethnic bigotry to divide...</p>
                     
            </div>
        </div>
        
        <div class="update-1">
                
            <div class="mtn-update">
                <hr>
                <h2>Hackers Who Allegedly Stole N1.9bn From MTN Network Get N50m Bail</h2>
                <img src="../assets/images/mtn.jpg" width="600">

                <p>Justice Akintayo Aluko of the Federal High Court in Lagos yesterday granted bail in the sum of N50 million to two alleged hackers, Timothy Oluwabukola and Anthony Odemerho, who were accused by the police of allegedly hacking into MTN Nigeria Communication Plc system and stealing airtime and data valued at N1.9 billion.
                    <br>
                    <br>
                    The Special Fraud Unit of the Nigeria Police docked the two men before Justice Aluko on a four-count charge of conspiracy, unauthorised access to the company’s web-based Application Programming Interface (API), and unlawful conversion.
                    <br>
                    <br>
                    Oluwabukola, a student of Moshood Abiola Polytechnic (MAPOLY) Abeokuta, Ogun State, and Odemerho, the proprietor of Resign Regal Academy in Benin City, Edo State, allegedly committed the offences between January and April this year in Lagos and Edo States.
                    <br>
                    <br>
                    Justice Aluko, in his ruling on separate bail applications filed by the defendants through their lawyers, ordered them to produce two sureties, one of whom must be a civil servant either in the federal or Lagos state civil service and a grade level 14 officer.
                    <br>
                    <br>
                    The judge also directed that the second surety must be a landed property owner within the jurisdiction of the court, must provide evidence of ownership, and swear to an affidavit of means.
                    <br>
                    <br>
                    The court further directed that the defendants  should be remanded in the custody of the Nigerian Correctional Services (NCoS) pending the perfection of their bail conditions.</p>
            </div>

            <div class="protest-container">
                <h4>Nigeria News#EndBadGovernance: Tinubu Already Addressing Protesters’ Demands – Onoh Replys Peter Obi</h4>
                <img src="../assets/images/end protest.png">
                <p>President Bola Tinubu’s former spokesman for the Southeast, Josef Onoh, has responded to Peter Obi’s criticism that the President’s recent national address failed to address key...</p>

                <h4 class="end-protest1">#EndBadGovernance: It Is Not A Protest But An Act Of Treason – IGP Speaks On Russian Flags Saga</h4>
                <img src="../assets/images/end protest 1.png">
                <p>The Inspector General of Police (IGP), Kayode Egbetokun, has warned that it is implicating to be seen with flags of other countries during a protest. Egbetokun...</p>
            </div>
        </div>

   


    <footer class="footer-container">
        <ul class="footer">
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="../component/about.html">About</a></li>
                    <li><a href="../component/blog.html">Blog</a></li>
                    <li><a href="../component/contact.html">Contact</a></li>
        </ul>
        <p class="content">@copywright, <i><u>MOVIC Tech</u></i></p>
    </footer>
    </body>
</html>