<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>contact project</title>
        <link rel="stylesheet" type="text/css" href="../styles/global.css">
        <link rel="stylesheet" type="text/css" href="../styles/contact.css">

    </head>
    <body>
        <header class="header">
            <div class="logo">
                <img src="../assets/images/Movic Tech.jpg">
            </div>
            <nav>
                <ul>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="../component/about.html">About</a></li>
                    <li><a href="../component/blog.html">Blog</a></li>
                    <li><a href="../component/contact.html">Contact</a></li>
                </ul>
            </nav>
        </header>

        <h1>Movic Blog</h1>
        <h2>Get Intouch with Movic Blog</h2>
        <div class="container">
            <form>
                <input type="text" id="firstname" type="text" placeholder="First Name" required>

                <input type="text" id="lastname" type="text" placeholder="Last Name" required>

                <input type="number" id="number" type="number" placeholder=" Phone Number" required>

                <input type="email" id="email" type="email" placeholder="Email Address" required>
                <p><i>please fill out this field</i></p>

                <label class="female" for="female" id="name" type="text" name="text" >
                    <input class="male" type="radio" id="name" type="text" name="text" required>
                    Female
                </label>
                <label class="female" for="female" id="name" type="text" name="text" >
                    <input class="male" type="radio" id="name" type="text" name="text" required>
                    Male
                </label>
                <textarea placeholder="send us a message" required></textarea>

                <p><i>Do you love our Blog</i></p>
                <label class="female" for="female" id="name" type="text" name="text" >
                
                    <input class="male" type="radio" id="name" type="text" name="name" required>
                    Yes
                </label>
                <label class="female" for="female" id="name" type="text" name="text" >
                    <input class="male" type="radio" id="name" type="text" name="name" required>
                    No
                </label>

                <textarea placeholder="If NO state your reasons" required></textarea>

                <input class="submit" type="submit" value="submit">
            </form>

            <div class="news-update">
                <h3>prefer to speak with us</h3>
                <button class="call"><a href="tel:+2347049608938">(234)70 4960 8938</a></button>
            </div>
        </div>

    </body>


    <footer class="footer-container">
        <ul class="footer">
            <li><a href="../index.html">Home</a></li>
            <li><a href="../component/about.html">About</a></li>
            <li><a href="../component/blog.html">Blog</a></li>
            <li><a href="../component/contact.html">Contact</a></li>
        </ul>
        <p class="content">@copywright, <i><u>MOVIC Tech</u></i></p>
    </footer>
</html>